* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-wrap {
    border:3px solid black;
    border-radius: 1em;
    width: 700px;
    height: 700px;
    position: relative;
    margin: 3% auto;
    background: #fafcff;
    padding: 5px;
    
}

.loginForm h2{
    text-align: center;
    margin: 30px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    
  }
.socialButton {
    width: 191px;
    height: 46px;
}